# Arquivos temporários de compilação da IDE do Arduino
.build/
.local/
build/
bin/
obj/

# Arquivos de configuração locais de IDEs (VS Code / Teclas de atalho)
.vscode/
.idea/
*.swp
*~

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
